<div class="grid">
<div class="col-4">
    <ol>
        <li><p>Project:<a href="https://ravikumar53529.github.io/sample-calculator/" target="_self">Calculator<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/table_with_functionality/" target="_self">Table<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/responsivelogin/" target="_self">Login Page<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/batteriespvtltd/" target="_self">Batteries Limited pvt ltd<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/analogclock-1/" target="_self">Clock<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/portfolio/" target="_self">Sample Website<i class="pi pi-arrow-up-left"></i></a></p></li>
    </ol>
</div>
<div class="col-4">
    <ol>
        <li><p>Project:<a href="https://ravikumar53529.github.io/sample-calculator/" target="_self">Calculator<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/table_with_functionality/" target="_self">Table<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/responsivelogin/" target="_self">Login Page<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/batteriespvtltd/" target="_self">Batteries Limited pvt ltd<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/analogclock-1/" target="_self">Clock<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/portfolio/" target="_self">Sample Website<i class="pi pi-arrow-up-left"></i></a></p></li>
    </ol>
</div>
<div class="col-4">
    <ol>
        <li><p>Project:<a href="https://ravikumar53529.github.io/sample-calculator/" target="_self">Calculator<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/table_with_functionality/" target="_self">Table<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/responsivelogin/" target="_self">Login Page<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/batteriespvtltd/" target="_self">Batteries Limited pvt ltd<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/analogclock-1/" target="_self">Clock<i class="pi pi-arrow-up-left"></i></a></p></li>
         <li><p>Project: <a href="https://ravikumar53529.github.io/portfolio/" target="_self">Sample Website<i class="pi pi-arrow-up-left"></i></a></p></li>
    </ol>
</div>
</div>
<input type="number" name="" id="" (input)="onKmChange($event)">
{{km |convert}}

