<div class="text-center mb-3 mt-1">
  <img src="../../assets/image/myimage.jpg" alt="" width="200px" height="200px"  class="border-circle">
</div>
<p-card header="About Me">
    <p class="m-0 text-justify p-4 text-red-500 text-lg uppercase">
      Hai Everyone. <br>
      This is Ravikumar Galinki.I have done my graduation in M.Tech in Comminications and signal processing.
      And my skills are HTML5,CSS3,JAVASCRIPT,BOOTSTRAP,OOPS,ANGULAR,GIT & GITHUB RESTfull API'S.
      I have created E commerce website  in angular with repsnsiveness.And I have created diffrent websites.
      My hobbies are coding practice,learning new things,listening songs and singing songs.My aim is to become a Fullstack developer.

    </p>
</p-card>

   